* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container{
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 60vh;
  width: 100%;
  background-color: #0c215d;
  position: relative;
}
.nav_bar {
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  position: relative;
}
.nav_bar ul {
  display: inline-block;
  color: white;
  position: relative;
  bottom: 10px;
  margin: 0 25px;
}
.nav_bar li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
}
.button {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.green {
  background-color: #00cc00;
}
.big_button{
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
#lista2 {
  margin: 0 10%;
}
#header_bg {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav_text {
  position: relative;
  left: 5%;
  top: 10%;
  width: 30%;
}
.nav_text h1 {
  color: white;
  font-size: 35px;
  padding: 20px 0;
}

main .blocco_grigio {
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  padding: 5vh 0;
}
.blocco_grigio h4 {
  font-size: 15px;
  color: grey;
  padding-top: 5px;
}
.box_column {
  width: 90%;
  margin: 0 auto;
}
.column {
  width: 33%;
  text-align: center;
  height: 500px;
  margin: 30px 0;
  float: left;
}
.resize{
  height: 200px;
  background-size: 100% 100%;
  background-position: center;
}
#profile {
  background-image: url(../img/profile.svg);
}
#computer {
  background-image: url(../img/computer.svg);
}
#doc {
  background-image: url(../img/doc.svg);
}
.column h3 {
  color: #00cc00;
  font-size: 25px;
  margin: 10px 0;
}
.column hr {
  width: 20%;
  border: 1px solid grey;
  margin: auto;
}
.column p {
  padding: 10px 0;
  color: grey;
}
.center_column {
  padding: 0 20px;
}

.lower_columns {
  width: 80%;
  margin: 0 auto;
}
.l_column {
  width: 50%;
  object-fit: cover;
  float: left;
  padding: 20px;
}
.l_column h3 {
  color: grey;
  padding: 20px 0;
}

footer {
  background-color: lightgrey;
  height: 15vh;
}
.foot_bar {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  padding-top: 30px;
  position: relative;
}
.foot_bar h2 {
  display: inline-block;
}
.blocco_destra {
  position: absolute;
  right: 0;
  top: 40px;
}
#select {
  border-bottom: 2px solid grey;
  margin: 0 10px;
  color: grey;
}
#select span{
  margin-left: 30px;
}
